<nav class="nav-container">
    <ul class="nav-links">
        <li>
            <a href=""><img src="/assets/logo.svg" alt=""></a>
        </li>
        <li>
            <a href=""><p>Kopen</p></a>
        </li>
        <li>
            <a href=""><p>Huren</p></a>
        </li>
        <li>
            <a href=""><p>Verkopen</p></a>
        </li>
    </ul>
    <ul class="nav-links">
        <li>
            <a href=""><p>Mijn Huis</p></a>
        </li>
        <li>
            <a href=""><p>Favorieten</p></a>
        </li>
        <li>
            <a href=""><p>Inloggen</p></a>
        </li>
    </ul>
</nav>

<style>

    .nav-container {
        background-color: var(--color-brand-primary);
        width: 100vw;
        height: 3.25rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 2rem;
        list-style: none;

        a {
            text-decoration: none;
        }
    }

</style>
