<nav class="nav-container">
    <div class="nav-wrapper">
        <ul class="nav-links first-nav-section">
            <li class="menu-container">
                <details class="menu">
                    <summary>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 7C3 6.58579 3.33579 6.25 3.75 6.25H18.75C19.1642 6.25 19.5 6.58579 19.5 7C19.5 7.41421 19.1642 7.75 18.75 7.75H3.75C3.33579 7.75 3 7.41421 3 7Z" fill="white"/>
                        <path d="M3 12C3 11.5858 3.33579 11.25 3.75 11.25H20.25C20.6642 11.25 21 11.5858 21 12C21 12.4142 20.6642 12.75 20.25 12.75H3.75C3.33579 12.75 3 12.4142 3 12Z" fill="white"/>
                        <path d="M3.75 16.25C3.33579 16.25 3 16.5858 3 17C3 17.4142 3.33579 17.75 3.75 17.75H14.75C15.1642 17.75 15.5 17.4142 15.5 17C15.5 16.5858 15.1642 16.25 14.75 16.25H3.75Z" fill="white"/>
                        </svg><p>Menu</p>
                    </summary>
                    <div class="menu-content">
                        <p>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3 7C3 6.58579 3.33579 6.25 3.75 6.25H18.75C19.1642 6.25 19.5 6.58579 19.5 7C19.5 7.41421 19.1642 7.75 18.75 7.75H3.75C3.33579 7.75 3 7.41421 3 7Z" fill="black"/>
                            <path d="M3 12C3 11.5858 3.33579 11.25 3.75 11.25H20.25C20.6642 11.25 21 11.5858 21 12C21 12.4142 20.6642 12.75 20.25 12.75H3.75C3.33579 12.75 3 12.4142 3 12Z" fill="black"/>
                            <path d="M3.75 16.25C3.33579 16.25 3 16.5858 3 17C3 17.4142 3.33579 17.75 3.75 17.75H14.75C15.1642 17.75 15.5 17.4142 15.5 17C15.5 16.5858 15.1642 16.25 14.75 16.25H3.75Z" fill="black"/>
                            </svg>Menu
                        </p>
                        <p>Kopen</p>
                        <p>Huren</p>
                        <p>Verkopen</p>
                    </div>
                </details>
            </li>
            <li>
                <img src="/assets/logo.svg" alt="">
            </li>
            <li class="nav-detail-content">
                <a href=""><p>Kopen</p></a>
            </li>
            <li class="nav-detail-content">
                <a href=""><p>Huren</p></a>
            </li>
            <li class="nav-detail-content">
                <a href=""><p>Verkopen</p></a>
            </li>
        </ul>
        <ul class="nav-links">
            <li>
                <a href="">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.5605 2.46821L21.1665 12.0262C21.4435 12.3342 21.4185 12.8082 21.111 13.0857C20.803 13.3627 20.329 13.3377 20.052 13.0302L11.9995 4.08671L3.94854 13.0277C3.67154 13.3357 3.19754 13.3602 2.88954 13.0832C2.58154 12.8062 2.55654 12.3317 2.83354 12.0242L11.44 2.46621C11.4478 2.45733 11.4574 2.45137 11.467 2.44544C11.4747 2.44068 11.4824 2.43594 11.489 2.42971C11.5014 2.41832 11.5147 2.40913 11.5282 2.39986C11.536 2.39448 11.5438 2.38908 11.5515 2.38321C11.6095 2.33871 11.67 2.29971 11.7355 2.27471C11.7578 2.26617 11.7806 2.26149 11.8036 2.25678C11.8116 2.25515 11.8196 2.25351 11.8275 2.25171C11.8875 2.23721 11.9475 2.22571 12.0085 2.22571C12.0431 2.22655 12.0774 2.23309 12.1115 2.23962C12.1179 2.24083 12.1242 2.24204 12.1305 2.24321C12.1805 2.25221 12.2305 2.26121 12.2785 2.28021C12.328 2.30021 12.3735 2.33171 12.4185 2.36321C12.4256 2.36801 12.4327 2.37271 12.4398 2.3774C12.4673 2.39567 12.4948 2.41384 12.519 2.43771C12.5248 2.4432 12.5314 2.44722 12.5381 2.45127C12.5461 2.45606 12.554 2.46089 12.5605 2.46821Z" fill="white"/>
                    <path d="M6.50029 20.2743H17.5003V11.6948L19.0003 13.3608V21.0243C19.0003 21.4378 18.6653 21.7733 18.2518 21.7743H5.75029C5.33579 21.7743 5.00029 21.4388 5.00029 21.0243V13.3613L6.50029 11.6953V20.2743Z" fill="white"/>
                    </svg>
                    <p>Mijn Huis</p>
                </a>
            </li>
            <li>
                <a href="">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19.5001 4.92998C18.5606 4.02118 17.3072 3.50908 16.0001 3.49998C14.9176 3.49633 13.8638 3.8476 13.0001 4.49998C12.6215 4.78476 12.2848 5.12139 12.0001 5.49998C11.7153 5.12139 11.3787 4.78476 11.0001 4.49998C10.1376 3.84386 9.08376 3.48859 8.00006 3.48859C6.91637 3.48859 5.86256 3.84386 5.00006 4.49998C4.37618 4.96298 3.87004 5.56634 3.52259 6.26124C3.17514 6.95614 2.99613 7.72307 3.00006 8.49998C3.00006 16 11.0001 20.5 12.0001 20.5C13.0001 20.5 21.0001 16 21.0001 8.49998C21 7.83508 20.8673 7.17687 20.6097 6.56387C20.3521 5.95088 19.9749 5.39541 19.5001 4.92998ZM12.0001 18.93C9.31722 17.6026 7.09973 15.4932 5.64006 12.88C4.90844 11.5348 4.51706 10.0311 4.50006 8.49998C4.50039 7.69661 4.77707 6.91781 5.28367 6.2943C5.79027 5.67079 6.49595 5.24055 7.28225 5.07579C8.06854 4.91102 8.88758 5.02177 9.60188 5.38944C10.3162 5.75711 10.8822 6.35932 11.2051 7.09498C11.2351 7.16498 11.2601 7.23998 11.2901 7.31498C11.3403 7.46205 11.4353 7.58973 11.5617 7.68014C11.6881 7.77054 11.8396 7.81915 11.9951 7.81915C12.1505 7.81915 12.302 7.77054 12.4284 7.68014C12.5548 7.58973 12.6498 7.46205 12.7001 7.31498C12.7251 7.23998 12.7551 7.16498 12.7851 7.09498C13.1042 6.35319 13.67 5.74458 14.3866 5.37231C15.1032 5.00005 15.9265 4.88702 16.7169 5.0524C17.5073 5.21778 18.2162 5.65139 18.7235 6.27973C19.2307 6.90806 19.5051 7.69247 19.5001 8.49998C19.4872 10.0396 19.0956 11.5524 18.3601 12.905C16.9004 15.5182 14.6829 17.6276 12.0001 18.955V18.93Z" fill="white"/>
                    </svg>
                    <p>Favorieten</p>
                </a>
            </li>
            <li>
                <a href="">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.5 12C1.5 6.20101 6.20101 1.5 12 1.5C14.7848 1.5 17.4555 2.60625 19.4246 4.57538C21.3938 6.54451 22.5 9.21523 22.5 12C22.5 12.4258 22.4747 12.8457 22.4254 13.2583C22.0136 12.7806 21.5335 12.3634 21.0003 12.022C21.0054 10.9315 20.8122 9.82972 20.4076 8.7704C19.0761 5.28449 15.7315 2.9818 12 2.9818C8.26846 2.9818 4.92395 5.28449 3.59245 8.7704C2.26095 12.2563 3.21867 16.2023 6 18.69V17.25C6.0008 17.1823 6.01089 17.115 6.03 17.05C6.28 15.055 8.185 13.5 10.5 13.5H12.3762C12.0203 13.9552 11.7237 14.4591 11.4982 15H10.5C10.3175 15.0011 10.1353 15.0161 9.955 15.045C8.56 15.26 7.5 16.275 7.5 17.5V19.78C8.89622 20.5952 10.4586 21.001 12.0202 20.9975C12.362 21.5318 12.7797 22.0129 13.2583 22.4254C12.8457 22.4747 12.4258 22.5 12 22.5C6.20101 22.5 1.5 17.799 1.5 12Z" fill="white"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8 8.5C8 6.29086 9.79086 4.5 12 4.5C13.0609 4.5 14.0783 4.92143 14.8284 5.67157C15.5786 6.42172 16 7.43913 16 8.5C16 10.7091 14.2091 12.5 12 12.5C9.79086 12.5 8 10.7091 8 8.5ZM9.5 8.5C9.5 9.88071 10.6193 11 12 11C13.3807 11 14.5 9.88071 14.5 8.5C14.5 7.11929 13.3807 6 12 6C10.6193 6 9.5 7.11929 9.5 8.5Z" fill="white"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M17.5044 22.5044C20.2658 22.5044 22.5044 20.2658 22.5044 17.5044C22.5044 14.743 20.2658 12.5044 17.5044 12.5044C14.743 12.5044 12.5044 14.743 12.5044 17.5044C12.5044 20.2658 14.743 22.5044 17.5044 22.5044ZM19.5347 15.4741C19.8276 15.767 19.8276 16.2418 19.5347 16.5347L18.5651 17.5044L19.5347 18.4741C19.8276 18.767 19.8276 19.2418 19.5347 19.5347C19.2418 19.8276 18.767 19.8276 18.4741 19.5347L17.5044 18.5651L16.5347 19.5347C16.2418 19.8276 15.767 19.8276 15.4741 19.5347C15.1812 19.2418 15.1812 18.767 15.4741 18.4741L16.4437 17.5044L15.4741 16.5347C15.1812 16.2418 15.1812 15.767 15.4741 15.4741C15.767 15.1812 16.2418 15.1812 16.5347 15.4741L17.5044 16.4437L18.4741 15.4741C18.767 15.1812 19.2418 15.1812 19.5347 15.4741Z" fill="white"/>
                    </svg>
                    <p>Inloggen</p>
                </a>
            </li>
        </ul>
    </div>
</nav>

<style>

    .nav-container {
        background-color: var(--color-brand-primary);
        width: 100vw;
        height: 3.25rem;
        position: relative;
    }

    .nav-wrapper {
        max-width: 1200px;
        margin: auto;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        list-style: none;



        a {
            text-decoration: none;
            color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        li {
            padding: .2rem;
            img {
                display: block;
                scale: 90%;
            }

            &:hover {
                background-color: #ff8f0f;
                border-radius: .25rem;
            }
        }
    }

    details, summary, details p {
        all: unset;
    }

    .menu-container {
        summary {
            display: flex;
            flex-direction: column;
            color: white;
            align-items: center;
            cursor: pointer;
        }

        summary {
            color: white;
        }
    }

    .menu-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgb(255, 255, 255);
        z-index: 999;
        display: flex;
        flex-direction: column;

        p {
            color: black;
            padding: 1rem;
            border-bottom: 1px solid rgb(210, 210, 210);
            display: flex;
            align-items: center;
            gap: .5rem;
        }
    }

    @media (min-width: 850px) {
        .nav-links {

            li {
                padding-block: .5rem;

                a {
                    flex-direction: row;
                    gap: .5rem;
                }

            }
        }

        .menu {
            display: none;
        }
    }    

    @media (max-width: 850px) {
        .nav-detail-content {
            display: none;
        }

        p {
            font-size: 12px;
        }

        summary {
            font-size: 12px;
        }
    }

</style>

<script>

</script>