{% render 'partials/head.liquid', title: 'Funda' %}

<div class="gallery-container">
    {% comment %} <form class="like-container" action="/like" method="POST" data-enhanced="">
        <input type="hidden" name="likeid">
        <button type="submit">
            ""
            <p>Bewaren</p>
        </button>
    </form> {% endcomment %}

    <div class="gallery show-all">
        {% for house in houses %}
            <button class="gallery-item">
                <img src="https://fdnd-agency.directus.app/assets/{{ house.poster_image }}?format=avif&width=300&height=250" loading="lazy" />
            </button>
        {% endfor %}
    </div>
</div>

<dialog class="detail-modal">
    <div class="detail-container">
        <div class="detail-bar detail-bar-top">
            <button>Like</button>
            <form method="dialog">
                <button class="carousel-close-btn"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" role="presentation" viewBox="0 0 48 48" class="m-2 size-[32px] text-neutral-50 lg:m-1 lg:size-11"><path d="M26.12 24l10.61-10.61a1.5 1.5 0 000-2.12 1.5 1.5 0 00-2.12 0L24 21.88 13.39 11.27a1.5 1.5 0 10-2.12 2.12L21.88 24 11.27 34.61a1.5 1.5 0 102.12 2.12L24 26.12l10.61 10.61a1.5 1.5 0 002.12 0 1.5 1.5 0 000-2.12z"></path></svg></button>
            </form>
        </div>

        <div class="carousel">
            <button class="carousel-btn left" alt="button left"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M8.2201 11.465L13.5001 6.17004C13.6423 6.03756 13.8303 5.96544 14.0246 5.96887C14.2189 5.9723 14.4043 6.05101 14.5417 6.18842C14.6791 6.32583 14.7578 6.51122 14.7613 6.70552C14.7647 6.89982 14.6926 7.08787 14.5601 7.23004L9.8151 12L14.5851 16.77C14.7257 16.9139 14.8033 17.1077 14.801 17.3089C14.7986 17.51 14.7165 17.702 14.5726 17.8425C14.4287 17.9831 14.2349 18.0608 14.0338 18.0584C13.8326 18.0561 13.6407 17.9739 13.5001 17.83L8.2351 12.545C8.09555 12.4029 8.01736 12.2117 8.01736 12.0125C8.01736 11.8134 8.09555 11.6222 8.2351 11.48L8.2201 11.465Z" fill="white"/>
</svg>
</button>
            <button class="carousel-btn right" alt="button right"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M15.7799 11.465L10.4999 6.17004C10.3577 6.03756 10.1697 5.96544 9.97538 5.96887C9.78107 5.9723 9.59569 6.05101 9.45828 6.18842C9.32086 6.32583 9.24215 6.51122 9.23872 6.70552C9.23529 6.89982 9.30742 7.08787 9.4399 7.23004L14.1849 12L9.4149 16.77C9.27433 16.9139 9.19668 17.1077 9.19903 17.3089C9.20137 17.51 9.28352 17.702 9.4274 17.8425C9.57128 17.9831 9.7651 18.0608 9.96624 18.0584C10.1674 18.0561 10.3593 17.9739 10.4999 17.83L15.7649 12.545C15.9045 12.4029 15.9826 12.2117 15.9826 12.0125C15.9826 11.8134 15.9045 11.6222 15.7649 11.48L15.7799 11.465Z" fill="white"/>
</svg>
</button>

            {% for house in houses %}
                <figure class="carousel-item">
                    <img class="carousel-img" src="https://fdnd-agency.directus.app/assets/{{ house.poster_image }}?format=avif&width=300&height=200" loading="lazy" />
                </figure>
            {% endfor %}
        </div>

        <div class="detail-bar">
            <span class="carousel-nav-label">1 / 24</span>
        </div>
    </div>
</dialog>

<script defer src="/scripts/detail-page.js"></script>

{% render 'partials/foot.liquid' %}