{% render 'partials/head.liquid', title: 'Funda' %}

<div class="gallery show">
    <img class="gallery-item big" src="https://picsum.photos/600/400" />
    <img class="gallery-item" src="https://picsum.photos/seed/a/600/400" />
    <img class="gallery-item" src="https://picsum.photos/seed/b/600/400" />
    <img class="gallery-item" src="https://picsum.photos/seed/c/600/400" />
    <img class="gallery-item" src="https://picsum.photos/seed/d/600/400" />
    <img class="gallery-item" src="https://picsum.photos/seed/e/600/400" />
    <img class="gallery-item" src="https://picsum.photos/seed/f/600/400" />
    <img class="gallery-item" src="https://picsum.photos/seed/g/600/400" />
    <img class="gallery-item" src="https://picsum.photos/seed/h/600/400" />
    <img class="gallery-item" src="https://picsum.photos/seed/i/600/400" />
</div>

<script>
    document.querySelector('.show').classList.remove('show')
</script>

{% render 'partials/foot.liquid' %}