{% render 'partials/head.liquid', title: 'Funda' %}

{% include 'partials/nav.liquid' %}

{% comment %} {% for house in houses %}
    <p>{{ house.street }}</p>
    <p>{{ house.price }}</p>
{% endfor %} {% endcomment %}

{% render 'partials/foot.liquid' %}